[Unit]
Description=AutomataScope
After=multi-user.target

[Service]
Type=idle
User=pi
WorkingDirectory=/home/pi/automata-scope
ExecStart=/usr/bin/python3 /home/pi/automata-scope/automata_scope > /home/pi/automata-scope/prod.log

[Install]
WantedBy=multi-user.target
